*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
}
@font-face {
  font-family: 'iconfont';  /* project id 737572 */
  src: url('//at.alicdn.com/t/font_737572_vc5hci44w1i.eot');
  src: url('//at.alicdn.com/t/font_737572_vc5hci44w1i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_737572_vc5hci44w1i.woff') format('woff'),
  url('//at.alicdn.com/t/font_737572_vc5hci44w1i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_737572_vc5hci44w1i.svg#iconfont') format('svg');
}